* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0;
    padding:0;
}

body {
    position: relative;
    background-color:rgb(127, 140, 71);
    font-size: 20px;
    color:sienna;
}

h1,
h2 {
    margin: 20px;
}

main {
    padding: 60px 0;
}

a {
    text-decoration: none;
    color: white;
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

header,
footer {
    height: 60px;
    width: 100%;
    line-height: 40px;
    background-color:rgb(60, 105, 52);
    color: white;
}

header {
    position: fixed;
    border-bottom: 10px solid rgb(0, 156, 124);
}

footer {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-bottom: 10px solid white;
    color: white;
}

figure {
    margin-bottom: 40px;
}

img {
    display: block;
    margin: 20px auto;
    max-height: auto;
    max-width: 50%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}